brokerClusterName = DefaultCluster
brokerName = broker-b
enableControllerMode = true
namesrvAddr = {{ namesrvAddr }}
controllerAddr = {{ controllerAddr }}
brokerIP1 = {{ inventory_hostname }}
brokerIP2 = {{ inventory_hostname }}
autoCreateTopicEnable = true
autoCreateSubscriptionGroup = true
listenPort = 11911
fastListenPort = 11909
haListenPort = 11912
deleteWhen = 04
fileReservedTime = 72
mapedFileSizeCommitLog = 1073741824
diskMaxUsedSpaceRatio = 88
maxMessageSize = 65536
flushDiskType = ASYNC_FLUSH
laneSupport = true