version: '3.8'
services:
  broker-a1:
    image: {{ mq_image }}
    container_name: broker-a1
    ports:
      - 11909:11909
      - 11911:11911
      - 11912:11912
      - 8082:8082
      - 8083:8083
    environment:
      - NAMESRV_ADDR={{ namesrvAddr }}
      - JAVA_OPT_EXT={{ java_opt }}
    volumes:
      - {{ working_dir }}/broker-a1/logs:/home/rocketmq/logs
      - {{ working_dir }}/broker-a1/store:/home/rocketmq/store
      - {{ working_dir }}/broker-a1.conf:/opt/rocketmq-5.3.0/conf/broker.conf
      - {{ working_dir }}/rmq-proxy1.json:/opt/rocketmq-5.3.0/conf/rmq-proxy.json
      - /etc/localtime:/etc/localtime
    command: sh mqbroker --enable-proxy -pc /opt/rocketmq-5.3.0/conf/rmq-proxy.json -c /opt/rocketmq-5.3.0/conf/broker.conf
    restart: always
