listenPort = 9876
enableControllerInNamesrv = true
controllerDLegerGroup = group1
controllerDLegerPeers = {{ controllerDLegerPeers }}
controllerDLegerSelfId = {{ controllerDLegerSelfId }}
controllerStorePath = /home/rocketmq/rocketmq-5.3.0/dledgerController
enableElectUncleanMaster = false
notifyBrokerRoleChanged = true