version: '3.7'
services:
  mysql-slave:
    image: bitnami/{{ container_image }}
    container_name: {{ container_name }}
    restart: always
    shm_size: 1g
    ports:
      - "{{ mysql_port }}:3306"
    volumes:
      - "{{ working_dir }}/data:/bitnami/mysql/data"
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_password }}
      - MYSQL_REPLICATION_MODE=slave
      - MYSQL_REPLICATION_USER=repl_user
      - MYSQL_REPLICATION_PASSWORD=repl_password
      - MYSQL_MASTER_HOST={{ master_ip }}
      - MYSQL_MASTER_PORT_NUMBER={{ mysql_port | int }}