version: '3'


services:
  tracker:
    container_name: "{{ tracker_name }}"
    image: ygqygq2/{{ fastdfs_image }}   
    network_mode: host
    volumes:   
      - {{ working_dir }}/tracker:/var/fdfs    
    ports:
      - 22122:22122
    restart: always
    command: tracker 
  storage:
    container_name: "{{ storage_name }}"
    image: ygqygq2/{{ fastdfs_image }}
    network_mode: host  
    volumes: 
      - {{ working_dir }}/storage:/var/fdfs
      - {{ working_dir }}/mod_fastdfs.conf:/etc/fdfs/mod_fastdfs.conf
      - {{ working_dir }}/storage.conf:/etc/fdfs/storage.conf
    ports:
      - 8080:8080
    restart: always
    command: storage