[Unit]
Description="Categraf"
After=network.target

[Service]
Type=simple

ExecStart={{ categraf_dir }}/categraf
WorkingDirectory={{ categraf_dir }}

Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=categraf


[Install]
WantedBy=multi-user.target
