version: '3.3'
services:
  {{ container_s_name }}:
    image: apache/{{ broker_image }}
    container_name: {{ container_s_name }}
    volumes:
      - {{ working_dir }}/broker-s/logs:/home/rocketmq/logs
      - {{ working_dir }}/broker-s/store:/home/rocketmq/store
      - {{ working_dir }}/broker-s/conf/broker.conf:/opt/rocketmq-4.9.8/conf/broker.conf
      - /etc/localtime:/etc/localtime
    command: sh mqbroker -c /opt/rocketmq-4.9.8/conf/broker.conf
    environment:
      - JAVA_OPT_EXT={{ java_opt }}
      - NAMESRV_ADDR={{ namesrvAddr }}
    ports:
      - "{{ s_fastListenPort }}:11909"
      - "{{ s_listenPort }}:11911"
      - "{{ s_haListenPort }}:11912"
      - "{{ s_dLegerPeers }}:41911"
    restart: always
