# # collect interval
# interval = 15

[[instances]]
search_cmdline_substring = "DorisFE"
gather_total = true
gather_per_pid = false

[[instances]]
search_cmdline_substring = "doris_be"
gather_total = true
gather_per_pid = false

[[instances]]
search_cmdline_substring = "autotag"
gather_total = true
gather_per_pid = false

[[instances]]
search_cmdline_substring = "data-platform"
gather_total = true
gather_per_pid = false